.col-1 {
    height: 80px;
    width: 65px;
    cursor: pointer;
}

.circle {
    

    background-image: url(https://www.downloadclipart.net/thumb/22241-red-circle-vector-thumb.png);
    background-repeat: round;
    padding: 30px;
    pointer-events: none;
}

.cross {

    background-image: url(https://www.freeiconspng.com/uploads/black-x-png-32.png);
    background-repeat: round;
    /* background-size: contain; */
    padding: 30px;
    pointer-events: none;

}

.blur{
    height: 100vh;
    background-image: radial-gradient(circle, #d3d3e5, #b8aed9, #a886c8, #9f5baf, #99228f);

}



.display {
    background-color: green;
}

#winner {
    font-size: 30px;
}

#player {
    font-size: 20px;
    color: rgb(8, 8, 8);
}
.btn{
    padding-bottom: 100px;
}